#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Toggle Button Styling */
.toggle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 104px;
  height: 32px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(11, 18, 40, 0.14);
  justify-content: center;
  gap: 2px;
}

.toggle-button .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  width: 53px;
  height: 26px;
  min-height: 24px;
  border-radius: 2px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #1868DB;
}

.toggle-button .button.inactive {
  color: #505258;
}

.toggle-button .button.active {
  background: #E9F2FE;
  border: 1px solid #1868DB;
}
